<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	
	<insert id="join">
		insert into user(id,name,email,password)
		values(#{id},#{name},#{email},#{password})
	</insert>
	<select id="checkEmail" resultType="User">
		select * from user
		where email=#{email}
		limit 1;
	</select>
	<select id="login" resultType="User">
		select id,email,name from user
		where email=#{email }
		and password=#{password}
		limit 1;
	</select>

</mapper>