.container{
	width:1024px;
	margin:0 auto;
	max-width:100%;
}

table {
	border-collapse : collapse;
	width: 100%;
}

td, th {
	border: 1px solid #ddd;
}

.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}

.navigator{
	margin-top:10px;
	text-align:center;
}
.navigator a{
	display:inline-block;
	color:black;
	border:1px solid #ddd;
	width:30px;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
.navigator a.active{
	background:#555;
	color:white;
}
